<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheet" href="styles/main.css">
    <title>Anime Recognition App</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Upload an image to find your anime! 🔥</h1>
            <p>You will get the anime name and the episode from your image</p>
        </div>
        

        <div>
            <form action="/submit" id="myAnime" method="post" enctype="multipart/form-data">
                <label for="image">Upload your anime image <br>
                    <input type="file" id="anime" name="userImage">
                </label>
                <button type="submit" id="submitBtn">Submit</button>

            </form>
        </div>
    </div>

</body>




</html>